{% sw_extends '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}

{% block component_shipping_method %}
    {% set isSelected = shippingMethod.id == context.shippingMethod.id %}

    <div class="shipping-method-radio raven-shipping-option {% if isSelected %}is-selected{% endif %}"
         data-shipping-method-id="{{ shippingMethod.id }}">

        <input type="radio"
               id="shippingMethod{{ shippingMethod.id }}"
               name="shippingMethodId"
               value="{{ shippingMethod.id }}"
               class="shipping-method-input"
               {% if isSelected %}checked{% endif %}>

        <label class="shipping-method-label" for="shippingMethod{{ shippingMethod.id }}">
            <div class="shipping-method-info">
                <div class="shipping-method-name">
                    {{ shippingMethod.translated.name }}
                </div>

                {% if shippingMethod.deliveryTime %}
                    <div class="shipping-method-delivery">
                        <svg class="delivery-icon" width="14" height="14" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span>{{ shippingMethod.deliveryTime.translated.name }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="shipping-method-price {% if isSelected %}is-active{% endif %}">
                {% set shippingPrice = null %}
                {% for delivery in page.cart.deliveries %}
                    {% if delivery.shippingMethod.id == shippingMethod.id %}
                        {% set shippingPrice = delivery.shippingCosts.totalPrice %}
                    {% endif %}
                {% endfor %}

                {% if shippingPrice is not null %}
                    {{ shippingPrice|currency }}
                {% else %}
                    <span class="price-on-select">Auswählen</span>
                {% endif %}
            </div>
        </label>
    </div>
{% endblock %}
